.survey_title {
    width: 100%; 
    font-size: 32px;
    font-weight: bold;
    /* border: 1px solid rgb(209, 211, 226);  */
    padding-left: 5px;
    padding:0; 
    margin:0;
}

.survey_description {
    width: 100%; 
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(209, 211, 226);
    border-top: 0px;
    background-color: #E9EAEC;
}

.writing_question{
    margin-top: 50px;
}

.new_question {
    background-color: #E9EAEC;
    margin-top: 50px; 
    height: 120px;
    cursor: pointer;
}

.btn-primary, .btn-danger {
    border: 0;
    border-radius: 3px;
    padding: 12px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.title_box_icon {
    text-align: center;
    width: 120px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 12px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #21AAFE;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

.question_title {    
    width:100%;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px 10px;
    background-color: #E9EAEC;
}

.question_choice{
    margin-left: 10px;
    font-size: 18px;
}

.react-datepicker-wrapper {
    float:right;
}
.required_option input {
    padding-right: 20px;
    text-align: right;
}
