.main_image {
    width: 100%;
    height: 94vh;
    background: url("/img/header-bg.jpg") center center no-repeat;
    /* background: linear-gradient(45deg, #002ef0 0%, rgba(116, 15, 214, 0.9) 100%), url(/images/hero-bg.jpg) center center no-repeat; */
    background-size: cover;
}

#survey_btn{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid green;
    color: #fff;
    background-color: green;
}

#market_btn{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid red;
    color: #fff;
    background-color: red;
}